/*google indigo = #3F51B5*/

body {
    font-family: roboto;
    padding: 0;
    margin: 0;
}

#title {
    text-align: center;
    /*vertical-align: middle;*/
    padding-bottom: 1%;
    padding-top:  1%;
    font-size: 26px;
    background-color: #3F51B5;
    color: white;
}

button {
    position: relative;
    display: block;
    background-color: #3F51B5;
    font-size: 26px;
    color: white;
    border: none;
}

.flex-container {
    padding-top: 5%;
    display: flex;
    width: auto;
    /*border: 1px black solid;*/
    margin: auto;
    width: 90%;
}

.flex-item {
    border: 1px black solid;
}

.currentState {
    border: 1px black solid;
    width: 85%;
    margin: 0; 
    margin-left: 5%;
}

.currentState h3 {
    text-align:center;

}

.state-container {
    display: flex;
    width: 90%;
    padding-top: 5%;
}

.state-item {
    padding-left: 5%;
}

.changeLogs {
    padding-top: 10%;
}

#routeColumn {
    width: 15%;
}
#methodColumn {
    width: 15%;
}
#reportColumn {
    width: 70%;
}

