/*BODY ELEMENTS*/
body {
    font-family: 'courier new';
    padding: 0;
    margin: 0;
    background-color:#191816;
    color:#00BCD4;
}

b {
    font-size: 22px;
}

#title {
    /*text-align: center;*/
    padding-bottom: 1%;
    padding-top:  2%;
    font-size: 26px;
    color: white;
}

.flex-container {
    padding-top: 5%;
    display: flex;
    width: auto;
    margin: auto;
    width: 90%;
}

/*LEFT SIDE COLUMN*/

#methodColumn {
    width: 20%;
    border-right: 1px white solid;
}

#GET {
    font-size: 24px;
}
#POST {
    font-size: 24px;
}

.hover:hover {
    cursor: pointer;
    background-color: #353533;
}

.indent {
    text-indent: 20px;
}

/*STATE CHANGES*/
#reportColumn {
    width: 80%;
}

.state-container {
    display: flex;
    width: 90%;
    padding-top: 5%;
}

.state-item {
    /*padding-left: 5%;*/
}

.currentState {
    width: 85%;
    margin: 0;
    margin-left: 5%;
}

.currentState h2 {
    text-align: left;
}

.changeLogs {
    padding-top: 5%;
    /*moving state change paragraph independent of picture*/
    margin-left: 5%;
}

/*TABS*/

.tabs {
    background-color: #353533;
    font-size:1.5em;
    border: none;
    color:white;
    margin-right: 1%;
}

.selected{
    background-color:#191816;
}
