$bgcolor: #383838;
$methodDirBGColor: #2B2D33;
$mainDisplayBGColor: #232326;
$toggleViewBGColor: #7F7F7F;
$unfocusedTabColor: #2D2D49;

$defaultFontColor: white;
$MethodDirSelectedColor: cornflowerblue;
$vsCodeFont: "Monaco";
$routeIndentation: 15px;
$buttonHeight: 50px;
