$bgcolor: #383838;
$methodDirBGColor: #2B2D33;
$mainDisplayBGColor: #232326;
$toggleViewBGColor: #7F7F7F;
$unfocusedTabColor: #3d356b;

$defaultFontColor: white;
$MethodDirSelectedColor: cornflowerblue;
$vsCodeFont: "Menlo";
$routeIndentation: 15px;
$buttonHeight: 50px;
$reportHeight: 90vh;

$settingNoFocused: #2d2a2a;

$buttonLetterSpacing: 2px;