@import '_variables';

body {

  background-color: $bgcolor;
  color: $defaultFontColor;
  font: {
    family: $vsCodeFont;
    }
  margin: {
    left: 8%;
    right: 8%;
  }
}

#mainLogo {
  width: 70px;
  height: 32px;
  padding: {
    left: 8%;
    right: 8%;
    top: 5%;
    bottom:5%;
  }
}

.flex-container {
  display: flex;
}

#methodColumn {
  height: 90.2vh;
  width: auto;
  background-color: $methodDirBGColor;
  #xpr span {
    .hover {
     &:hover {
        cursor: pointer;
        background-color: #353533;
      }
    }
  }
  span {
    .routes{
      font-size: 15px;
      text-indent: $routeIndentation;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .method{
    font-size:20px;
    &:hover {
      cursor: pointer;
    }
  }
}

/*TABS*/
.selected{
  background-color: $mainDisplayBGColor;
}
.notSelected {
  background-color: $unfocusedTabColor;
}

.reportColumn {
  background-color: $mainDisplayBGColor;

  #tabsMenu {
    background-color: $bgcolor;
    height: 50px;
  }

  #reportSummary {
    width: 77vw;
    display: flex;
    overflow: scroll;

    #toggleView {
      background-color: $toggleViewBGColor;
      height: 100%;
    }
    .report {
      height: 75vh;
    }
  }
}

#settingsTab {
  height: 90.2vh;
  width: auto;
  background-color: $methodDirBGColor;
}

.flex-tab {
  &:hover {
      cursor: pointer;
    }
  display: inline-flex;
  margin: {
    left: 2.1%;
  }
  padding: {
    left: 2%;
    right: 2%;
  }

  .tabLogo {
      width: 30px;
      height: 40px;
  }

  button {
    &:hover {
      cursor: pointer;
    }
    height: $buttonHeight;
    font-size: 20px;
    outline: 0;
    background: none;
    white-space: nowrap;
    border: none;
  }

  .cancel {
    padding: {
    left: 7%;
    }
    color: $toggleViewBGColor;
  }

}

#xprColumn {
  width: 20%;
}
  .xprSelected {
    background-color: $methodDirBGColor;
  }

.mainTab {
  display: flex;

    button {
    &:hover {
      cursor: pointer;
    }
    height: $buttonHeight;
    font-size: 20px;
    outline: 0;
    white-space: nowrap;
    border: none;
  }
}
