@import '_variables';

body {

  background-color: $bgcolor;
  color: $defaultFontColor;
  font: {
    family: $vsCodeFont;
    }
  margin: {
    top: 4%;
    bottom: 0%;
    left: 8%;
    right: 8%;
  }
}

#mainLogo {
  width: 70px;
  height: 32px;
  padding: {
    left: 8%;
    right: 8%;
    top: 5%;
    bottom:5%;
  }
}

.flex-container {
  display: flex;
}

#methodColumn {
  height: 96vh;
  width: 200px;
  background-color: $methodDirBGColor;
  #xpr span {
    .hover {
     &:hover {
        cursor: pointer;
        background-color: #353533;
      }
    }

    .routes{
      font-size: 12px;
      text-indent: $routeIndentation;
    }
  }
  .method{
    font-size:20px;
    &:hover {
      cursor: pointer;
    }
  }
}

#toggleView {
  margin-top: 50px;
  background-color: $toggleViewBGColor;
}

#reportColumn {
  background-color: $mainDisplayBGColor;
  height: 96vh;
  width:100%;
  overflow:scroll;
  padding-left: 0px;
}


/*TABS*/
.selected{
  background-color: $mainDisplayBGColor;
}
.notSelected {
  background-color: $unfocusedTabColor;
}

#tabsMenu {
  display: flex;
  background-color: $bgcolor;
  height: 50px;

  .flex-tab {
    border: {
      top: 1px white solid;
      left: 1px white solid;
      right: 1px white solid;
    }
    display: flex;
    margin-left: 2%;
    padding: {
      left: 1%;
      right: 1%;
    }

    .tabs {
      background-color: transparent;
      font-size:1.5em;
      border: none;
      margin-right: 1%;
    }

    button {
      display: inline;
      white-space: nowrap;
    }

    .tabLogo {
      width: 30px;
      height: 40px;
      padding: {
        top: 5%;
        bottom: 5%;
      }
    }

    .cancel{
      font-size:15px;
      &:hover {
        cursor: pointer;
        }
    }

  }

}
