@import '_variables';

body {
  background-color: $bgcolor;
  color: $defaultFontColor;
  font: {
    family: "Lucida Grande";
    }
  margin: 0;
  padding: 0;
}

#mainLogo {
  width: 70px;
  height: 32px;
  padding: {
    left: 8%;
    right: 8%;
    top: 5%;
    bottom:5%;
  }
}

.flex-container {
  display: flex;
}

#methodColumn {
  overflow: scroll;
  padding: {
    left: 10px;
    top: 20px;
  }
  height: $reportHeight;
  width: auto;
  background-color: $methodDirBGColor;
  #xpr span {
    .hover {
     &:hover {
        cursor: pointer;
        background-color: #353533;
      }
    }
  }
  span {
    .routes{
      font-size: 15px;
      text-indent: $routeIndentation;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .method{
    font-size:20px;
    &:hover {
      cursor: pointer;
    }
  }
}

/*TABS*/
.selected{
  color: $defaultFontColor;
  background-color: $mainDisplayBGColor;
}
.notSelected {
  color: $toggleViewBGColor;
  background-color: $settingNoFocused;
}

.reportColumn {
  background-color: $mainDisplayBGColor;

  #tabsMenu {
    background-color: $bgcolor;
    height: 50px;
  }

  #reportSummary {
    width: 84vw;
    display: flex;
    height: 92vh;

    #snapshotChain {
      padding: {
        //adjust where the snapshot chain appears
        top: 30px;
        left: 20px;
      }
      width: 84vw;
      overflow: scroll;
    }

    #toggleView {
      background-color: $toggleViewBGColor;
      height: 92vh;
    }
    .snapshot {
      padding: {
        top: 10px;
        left: 10px;
        bottom: 10px;
      }
      border: 1px $toggleViewBGColor solid;
      height: auto;
      width: 200px;
      background-color: $unfocusedTabColor;
      margin: {
        //control each snapshot's spacing in the main display area
        // bottom: 30px;
        // top: 20px;
        left: 30px;
      }
    }
  }
}

.chain {
  margin: {
    left: 80px;
  }
}

#settingsTab {
  height: $reportHeight;
  width: auto;
  background-color: $methodDirBGColor;
}

.flex-tab {
  &:hover {
      cursor: pointer;
    }

  border: {
      left: 1px $bgcolor solid;
  }

  display: inline-flex;
  padding: {
    left: 8px;
    right: 5px;
  }

  .tabLogo {
     margin: {
       top: 10px;
     }
      width: 20px;
      height: 30px;
  }

  button {
    &:hover {
      cursor: pointer;
    }
    letter-spacing: $buttonLetterSpacing;
    height: $buttonHeight;
    font-size: 20px;
    outline: 0;
    background: none;
    white-space: nowrap;
    border: none;
  }

  .cancel {

    color: $toggleViewBGColor;
  }

}

#Settings {
  border-left: 1px $bgcolor solid;
}

#xprColumn {
  width: 20%;
}
  .xprSelected {
    background-color: $methodDirBGColor;
  }
  .xprNotSelected {
    background-color: $settingNoFocused;
  }

.mainTab {
  display: flex;
  color: $defaultFontColor;
    button {
    &:hover {
      cursor: pointer;
    }
    letter-spacing: $buttonLetterSpacing;
    color: $defaultFontColor;
    width: 50%;
    height: $buttonHeight;
    font-size: 20px;
    outline: 0;
    white-space: nowrap;
    border: none;
  }
}

.hidden {
  display: none;
}