// background colors
$bodyColor: #383838;
$sidebarColor: #2B2D33;
$mainDisplayColor: #232326;
$toggleLineDisplayColor: #7F7F7F;
$brightpurple: #3d356b;
$inactiveTabColor: darken($brightpurple, 10%);
$cornflowerblue: cornflowerblue;
$buttonHoverColor: lighten($cornflowerblue, 20%);
$detailsColor: lighten(#ffe5ce, 3%);

$sidebarWidth: 20%;
$mainDisplayWidth: 80%;


$tabHeight: 50px;
$expressiveLogoHeight: 32px;
$expressiveLogoWidth: 70px;

$font: "Lucida Grande";
$defaultFontColor: rgb(200,200,200);

$reportLineHeight: 175px;

$midwareOverviewWidth: 175px;
