/*BODY ELEMENTS*/
body {
    font-family: 'courier new';
    padding: 0;
    margin: 0;
    background-color:#191816;
    /*color:#00BCD4;*/
    /*color that alex plays around with for terminal look. refer to normal color above*/
    color:#0bdc0b;
}

b {
    font-size: 22px;
}

#title {
    padding-bottom: 1%;
    padding-top:  2%;
    font-size: 26px;
    color: white;
}

.flex-container {
    padding-top: 5%;
    display: flex;
    width: auto;
    margin: auto;
    width: 90%;
}

/*LEFT SIDE COLUMN*/

#methodColumn {
    width: 20%;
    /*border-right: 1px white solid;*/
}

#GET {
    font-size: 24px;
}
#POST {
    font-size: 24px;
}

.hover:hover {
    cursor: pointer;
    background-color: #353533;
}

.indent {
    text-indent: 20px;
}

/*STATE CHANGES*/
#reportColumn {
    width: 80%;
}

.state-container {
    display: flex;
    width: 90%;
    padding-top: 5%;
}

.state-item {
    /*padding-left: 5%;*/
}

.currentState {
    width: 85%;
    margin: 0;
    margin-left: 5%;
}

.currentState h2 {
    text-align: left;
}

.changeLogs {
    padding-top: 5%;
    /*moving state change paragraph independent of picture*/
    margin-left: 5%;
}

/*TABS*/

.tabs {
    /*background-color: #353533;*/
    background-color: transparent;
    font-size:1.5em;
    border: none;
    color:white;
    margin-right: 1%;
}

.selected{
    background-color:#191816;
}

button {
    display: inline;
    white-space: nowrap;
}

#tabsMenu {
    display: flex;
    /*changing background-color here will do seemless tabs and have .flex-tab have changing class*/
    background-color: #232321;
}

.flex-tab {
    display: flex;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}